/* div{
    background-color: lightblue;
    width: 100px;
} */

.a{
    background-color: lightblue;
    width: 100px;
    color: black;
    text-decoration: none;
}
.a a {
    color: black;
    text-decoration: none;
}

.b{
    background-color: lightgreen;
    width: 100px;
}

.b a {
    color: black;
    text-decoration: none;}